<div class="row">
    <div class="card col" style="width: 18rem;">
      <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61PGMP8d5PL._SX425_.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Dell Inspiron N15R</h5>
        <p class="card-text"> Price : 40000</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <a href="#" class="btn btn-danger">Delete</a>
        <a href="#" class="btn btn-warning">edit</a>
      </div>
    </div>
    <div class="card col" style="width: 18rem;">
      <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Ly4FD_xmz5Lva-tk6VRabgeKBZkRv8NoJ4ooJ1EwGSCcYFATwg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">HP Elitebook E840</h5>
        <p class="card-text"> Price : 42000</p>
        <a href="#" class="btn btn-primary">Buy Now</a>
        <a href="#" class="btn btn-danger">Delete</a>
        <a href="#" class="btn btn-warning">edit</a>
      </div>
      
    </div>
  
    <div class="card col" style="width: 18rem;">
        <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/61PGMP8d5PL._SX425_.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Dell Inspiron N15R</h5>
          <p class="card-text"> Price : 52000</p>
          <a href="#" class="btn btn-primary">Buy Now</a>
          <a href="#" class="btn btn-danger">Delete</a>
        <a href="#" class="btn btn-warning">edit</a>
        </div>
      </div>
  
      <div class="card col" style="width: 18rem;">
          <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR8Ly4FD_xmz5Lva-tk6VRabgeKBZkRv8NoJ4ooJ1EwGSCcYFATwg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">HP Elitebook E840</h5>
            <p class="card-text"> Price : 62000</p>
            <a href="#" class="btn btn-primary">Buy Now</a>
            <a href="#" class="btn btn-danger">Delete</a>
        <a href="#" class="btn btn-warning">edit</a>
          </div>
          
        </div>
  </div>
