<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">UserName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Operations </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>mark@gmail.com</td>
        <td>1234567890</td>
        <td>
          <a href="#" class="btn btn-danger">Delete</a>
          <a href="#" class="btn btn-warning">edit</a>
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>jacob@gmail.com</td>
        <td>1234567890</td>
        <td>
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-warning">edit</a>
          </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>larry@gmail.com</td>
        <td>1234567890</td>
        <td>
            <a href="#" class="btn btn-danger">Delete</a>
            <a href="#" class="btn btn-warning">edit</a>
          </td>
      </tr>
    </tbody>
  </table>
